/* === MISE EN PAGE GENERAL ===*/

$title-font: "Noto Serif Makasar", serif;
$main-font: "Poppins", sans-serif;

// Variable
* {
  box-sizing: border-box;
}

:root {
  --main-black: #010001;
  --main-white: #f6f8fa;
  --main-color: #666970;
  --hover-white: #F1F1F1;

  .color-black {
    color: var(--main-black);
  }

  .color-white {
    color: var(--main-white);
  }

  .color-main {
    color: var(--main-color);
  }

  // Background

  .bg-color-black {
    background-color: var(--main-black);
  }
  .bg-color-white {
    background-color: var(--main-white);
  }
  .bg-color-main {
    background-color: var(--main-color);
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

img {
  width: 100%;
  pointer-events: none;
  display: block;
}


/* Scrollbar Styling */
::-webkit-scrollbar {
  margin-top: 10px;
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px var(--main-color);
  border: solid 3px transparent;
  
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px var(--main-white);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: solid 3px transparent;
}


/* Classes fonctionnelles */

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.col-center{
  flex-direction: column;
  align-items: center;
}

.text-center {
  text-align: center;
  margin: 0 auto;
}

.object-center {
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-col{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spacing-section {
  padding-top: 5%;
  padding-bottom: 5%;
}

.w-full{
  width: 100%;
}

.w-trois-quart{
  width: 75%;
}

.w-un-quart{
  width: 25%;
}

.h-full{
  height: 100%;
}

.h-trois-quart{
  height: 75%;
}

.h-demi{
  height: 50%;
}
/* Titre */
h1 {
  font-family: $title-font;
  font-weight: 400;
  text-decoration: none;
  font-size: 56px;
}

h2 {
  font-family: $title-font;
  font-weight: 400;
  text-decoration: none;
  font-size: 34px;
}

h3 {
  font-family: $title-font;
  font-weight: 400;
  text-decoration: none;
  font-size: 30px;
}

h4 {
  text-transform: uppercase;
  font-family: $title-font;
  font-weight: 400;
  font-size: 16px;

  margin: 0;
}

h5 {
  text-transform: uppercase;
  font-family: $main-font;
  font-weight: 200;
  font-size: 15px;
  text-align: left;
  margin: 0;
}

p{
  font-family: $main-font;
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
}
/* Buttons */

.first-cta {
  padding: 15px 30px;
  background-color: var(--main-black);
  color: var(--main-white);
  border: 1px solid var(--main-white);
  border-radius: 8px;
  transition: all 0.7s ease;
  text-decoration: none;

  font-family: $main-font;
  font-size: 14px;
  font-weight: 400;
}

.first-cta:hover {
  background-color: var(--main-white);
  color: var(--main-black);
  border: 1px solid var(--main-white);
}

.second-cta {
  padding: 15px 30px;
  background-color: var(--main-black);
  color: var(--main-white);
  border: 1px solid var(--main-white);
  border-radius: 8px;
  transition: all 0.7s ease;
  text-decoration: none;

  font-family: $main-font;
  font-size: 14px;
  font-weight: 400;
}

.second-cta:hover {
  background-color: var(--main-white);
  color: var(--main-black);
  border: 1px solid var(--main-black);
}

/* === HEADER ===*/

nav {
  align-items: center;

  ul {
    list-style: none;
  }

  a {
    color: var(--main-white);
    text-transform: uppercase;
    font-family: $main-font;
    font-weight: 600;
    font-size: 14px;
    text-decoration: unset;
  } 
}
nav div:nth-child(1) {
  max-width: 9%;
}

.spacing-nav {
  margin-top: 10px;
  width: 80%;
}
.nav-separation{
  margin-right: 5%;
}

.spacing-components-header{
  gap: 60px;
}

.spacing-icon-header{
  gap: 20px;
}

.link-style-nav{
  position: relative;

  &::after{
    position: absolute;
    content: '';
    background-color: var(--main-white);
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 2px;
    transition: 0.3s ease all;
  }
  &:hover::after{
      width: 100%;
  }
}

.header-content {
  position: fixed;
  top: 0;
  z-index: 9;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0px 7px 60px 47px rgba(0, 0, 0, 0.15);
  padding: 20px;
}

/* === MAIN ===*/


#BackgroundVideo {
  position: relative;
  width: 100%;
  height: 99.3vh;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}



.projects {
  background-color: var(--main-color);
  background-size: cover;
  z-index: 1;
}

.spacing-last-projects {
  gap: 3%;
  margin-top: 5%;
  
  span {
    width: 33.33%;

  h4{
    margin-top: 10px;
  }
  }
}

.button-center-disposition {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.overlay{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 1s ease;
  background-color: var(--main-black);

  p{
    color: var(--main-white);
    font-size: 1rem;
    font-weight: 400;
    top: 50%;
    left: 50%;
    text-decoration: underline;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.video-hover:hover .overlay{
  opacity: 0.6;

}

/* === FOOTER ===*/

footer{
  
  
  a{
    margin-left: 5px;
    font-family: $main-font;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    color: var(--main-white);
    transition: all 0.8s ease;
  }
  a:hover{
    color: var(--main-color);
  }
  h3{
    margin: auto;
  }
}

.footer-size{
  height: 45vh;

    >div{
      width: 33.33%;
    }
}

.logo-size{
  width: 20%;
}

.container-contact-icon {
  margin-left: 5px;
  margin-bottom: 5px;
  transform: translateZ(10);
  transition: transform .6s cubic-bezier(.165,.84,.44,1)
}

.container-contact:hover .container-contact-icon {
  transform: translateX(5px) translateZ(0)
}

.icons-footer{
    svg{
      fill: var(--main-white);
      transition: all 0.4s ease;
    }

    svg:hover{
      fill: var(--main-color);
    }
}


.bottom-footer{
  margin-top: 5px;
  margin-bottom: 10px;
  p{
    margin-top: auto;
    margin-bottom: auto;
  }

  a:hover{
    color: var(--main-white);
  }
}
