@use 'variables.scss' as *;

:root {
    .color-black {
      color: $main-black;
    }
    .color-white {
      color: $main-white;
    }
    .color-main {
      color: $main-color;
    }
    .color-red {
      color: $main-red;
    }
    
  
    // Background
  
    .bg-color-black {
      background-color: $main-black;
    }
    .bg-color-white {
      background-color: $main-white;
    }
    .bg-color-red {
      background-color: $main-red;
    }
    .bg-color-main {
      background-color: $main-color;
    }
    .bg-faded-black {
      background-color: $faded-black;
    }
    .bg-cloudy-black {
      background-color: $cloudy-black;
    }
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  img {
    width: 100%;
    pointer-events: none;
    display: block;
  }
  
  
  