/* === MISE EN PAGE GENERAL ===*/

.absolute {
  position: absolute;
}

.absolute-responsive{
  position: absolute;
}

.relative {
  position: relative;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.col-center {
  flex-direction: column;
  align-items: center;
}

.text-center {
  text-align: center;
  margin: 0 auto;
}

.text-left {
  text-align: left;
  margin: 0 auto;
}

.text-center-left {
  text-align: center;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.object-center {
  display: flex;
  justify-content: center;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spacing-section {
  padding-top: 5%;
  padding-bottom: 5%;
}

.w-full {
  width: 100%;
}

.w-trois-quart {
  width: 75%;
}

.w-un-quart {
  width: 25%;
}

.h-full {
  height: 100%;
}

.h-trois-quart {
  height: 75%;
}

.h-demi {
  height: 50%;
}

.bottom-0 {
  bottom: 0;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.h-full-screen{
  height: 100vh;
}

/* General Spacing */
  // Top 

.mt-10{
  margin-top: 10px;
}

.mt-20{
  margin-top: 20px;
}

.mt-30{
  margin-top: 50px;
}

.mt-50{
  margin-top: 50px;
}

.mt-100{
  margin-top: 100px;
} 

  // Bottom
.mb-10{
  margin-bottom: 10px;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-30{
  margin-bottom: 30px;
}

.mb-50{
  margin-bottom: 50px;
}

.mb-100{
  margin-bottom: 100px;
}

.pad-10{
  padding: 10px;
}

/* GRID LAYOUT */

.dual-col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: 1fr;
  grid-column-gap: 70px;
  grid-row-gap: 0px;
}
.dual-col-1 { grid-area: 1 / 1 / 2 / 2; }
.dual-col-2 { grid-area: 1 / 2 / 2 / 3; }

@media (max-width: 768px) {
  
  .dual-col{
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
  }
  .dual-col-1 { 
      grid-area: 1 / 1 / 2 / 2;  
  }
  .dual-col-2 { 
      grid-area: 2 / 1 / 3 / 2;
      margin-top: 50px;
      margin-bottom: 50px;
  }
  
}


.triple-col{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.triple-col-1 { grid-area: 1 / 1 / 2 / 2; }
.triple-col-2 { grid-area: 1 / 2 / 2 / 3; }
.triple-col-3 { grid-area: 1 / 3 / 2 / 4; }


@media (max-width: 940px) {

  .triple-col{
    grid-column-gap: 0px;
    grid-row-gap: 61px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .triple-col-1 { 
    grid-area: 1 / 1 / 2 / 2; 
  }
  .triple-col-2 { 
    grid-area: 2 / 1 / 3 / 2;

  }
  .triple-col-3 { 
    grid-area: 3 / 1 / 4 / 2; 

  }

}

.center-responsive-left{
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* RESPONSIVE LAYOUT */

@media (max-width: 940px) {
  .responsive-center{
      display: flex;
      justify-content: center;
  }

  .center-responsive-left{
    display: flex;
    align-items: flex-start;
  }

  .text-center-left {
    text-align: left;
    margin: 0 auto;
  }

  .absolute-responsive{
    position: relative;
  }
}