/* All variables are stocked right there */


// Typos
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Makasar&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

$title-font: "Noto Serif Makasar", serif;
$main-font: "Poppins", sans-serif;

// Colors
$main-black: #010001;
$main-white: #f6f8fa;
$main-red: #D11A2A;
$main-color: #666970;
$hover-white: #F1F1F1;

$faded-black: rgba(0, 0, 0, 0.4);

