/* All variables are stocked right there */

// Typos
$title-font: "Noto Serif Makasar", serif;
$main-font: "Poppins", sans-serif;

// Colors
$main-black: #010001;
$main-white: #f6f8fa;
$main-color: #666970;
$hover-white: #F1F1F1;

