<IfModule mod_rewrite.c | rewrite_module>
RewriteEngine On
# Allow htaccess to follow relative links
Options +FollowSymLinks

# Management of redirecting pages/content files to root
RewriteRule ^a-propos$ /logma/pages/content/a-propos.php [L]
RewriteRule ^contacts$ /logma/pages/content/contacts.php [L]
RewriteRule ^galerie-photo$ /logma/pages/content/galerie-photo.php [L]

# Management of redirecting pages/legal files to root
RewriteRule ^cgu$ /logma/pages/legal/cgu.php [L]
RewriteRule ^mentions-legales$ /logma/pages/legal/mentions-legales.php [L]

# Management of redirecting pages/admin files to root
RewriteRule ^access-admin-logma$ /logma/pages/admin/login.php [L]
RewriteRule ^access-admin-logma/signup$ /logma/pages/admin/signup.php [L]
RewriteRule ^access-admin-logma/gallery$ /logma/pages/admin/gallery.php [L]
RewriteRule ^access-admin-logma/dashboard$ /logma/pages/admin/dashboard.php [L]
RewriteRule ^access-admin-logma/logs$ /logma/pages/admin/logs.php [L]
RewriteRule ^access-admin-logma/delete-account$ /logma/pages/admin/delete-account.php [L]


# Management of errors on website 
ErrorDocument 401 /logma/pages/errors/401.html
ErrorDocument 403 /logma/pages/errors/403.html
ErrorDocument 404 /logma/pages/errors/404.html
ErrorDocument 500 /logma/pages/errors/500.html
ErrorDocument 503 /logma/pages/errors/maintenance-logma.html


# # Uncomment bellow for maintenance mode
# RewriteCond %{REMOTE_ADDR} !^192\.168\.1\.1$
# RewriteRule .* pages/errors/maintenance-logma.html [L]
