<IfModule mod_rewrite.c | rewrite_module>
RewriteEngine On
# Allow htaccess to follow relative links
Options +FollowSymLinks

# Management of redirecting pages/content files to root
RewriteRule ^a-propos$ /pages/content/a-propos.php [L]
RewriteRule ^contacts$ /pages/content/contacts.php [L]
RewriteRule ^galerie-photo$ /pages/content/galerie-photo.php [L]

# Management of redirecting pages/legal files to root
RewriteRule ^cgu$ /pages/legal/cgu.php [L]
RewriteRule ^mentions-legales$ /pages/legal/mentions-legales.php [L]

# Management of redirecting pages/admin files to root
RewriteRule ^access-admin-logma$ /pages/admin/login.php [L]
RewriteRule ^access-admin-logma/signup$ /pages/admin/signup.php [L]
RewriteRule ^access-admin-logma/gallery$ /pages/admin/gallery.php [L]
RewriteRule ^access-admin-logma/dashboard$ /pages/admin/dashboard.php [L]
RewriteRule ^access-admin-logma/logs$ /pages/admin/logs.php [L]
RewriteRule ^access-admin-logma/delete-account$ /pages/admin/delete-account.php [L]
RewriteRule ^access-admin-logma/maintenance$ /pages/admin/maintenance.php [L]
RewriteRule ^access-admin-logma/project$ /pages/admin/project.php [L]


# Management of errors on website 
ErrorDocument 401 /pages/errors/401.html
ErrorDocument 403 /pages/errors/403.html
ErrorDocument 404 /pages/errors/404.html
ErrorDocument 500 /pages/errors/500.html
ErrorDocument 503 /pages/errors/maintenance-logma.html
