.bg-image-layout{
    height: 98vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 91.5%;
}

.bg-image-small{
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 48.5%;

}

@media (max-width:768px){
    .bg-image-layout{
        height: 60vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 43% 50.65%;
    }
}

.bg-image-mountains{
    background-image: url(../ressources/img/men-in-moutains.jpg);
}
    
.bg-image-car{
    background-image: url(../ressources/img/car-iceland.jpg);
}