.bg-image-layout{
    height: 98vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 91.5%;
}

.bg-image-contact{
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 28.5%;

}

@media (max-width:768px){
    .bg-image-layout{
        height: 60vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 43% 50.65%;
    }

    .bg-image-contact{
        height: 50vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 18% 48.5%;

    }
}

.bg-image-mountains{
    background-image: url(../ressources/img/men-in-moutains.jpg);
}
    
.bg-image-baptise{
    background-image: url(../ressources/img/baptiste-fablet.jpg);
}