@use '../abstracts'as *;

/* Buttons */

  // First CTA

.first-cta {
    padding: 18px 40px;
    background-color: $main-black;
    color: $main-white;
    border: 1px solid $main-white;
    border-radius: 8px;
    transition: all 0.7s ease;
    text-decoration: none;
  
    font-family: $main-font;
    font-size: 14px;
    font-weight: 300;
  }
  
.first-cta:hover {
  background-color: $main-white;
  color: $main-black;
  border: 1px solid $main-white;
}

 // Second CTA

.second-cta {
  padding: 18px 40px;
  background-color: $main-black;
  color: $main-white;
  border: 1px solid $main-white;
  border-radius: 8px;
  transition: all 0.7s ease;
  text-decoration: none;

  font-family: $main-font;
  font-size: 14px;
  font-weight: 300;
}

.second-cta:hover {
  background-color: $main-white;
  color: $main-black;
  border: 1px solid $main-black;}


// Submit CTA

.submit-cta {
  padding: 13px 35px;
  background-color: $main-black;
  color: $main-white;
  border: 1px solid $main-white;
  border-radius: 8px;
  transition: all 0.7s ease;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  font-family: $main-font;
  font-size: 14px;
  font-weight: 200;
}

.submit-cta:hover {
  background-color: $main-white;
  color: $main-black;
  border: 1px solid $main-black;
}

// Link CTA

.container-link-cta{
  display: flex;
  text-decoration: none;
}

.icon-link-cta{
  margin-left: 5px;
  margin-bottom: 5px;
  transform: translateZ(10);
  transition: transform .6s cubic-bezier(.165,.84,.44,1)
}

.container-link-cta:hover .icon-link-cta {
  transform: translateX(5px) translateZ(0)
}


// Delete CTA

.delete-cta {
  background-color: $main-red;
  color: $main-white;
  border: 1px solid $main-red;
  border-radius: 8px;
  transition: all 0.7s ease;
  cursor: pointer;
  width: 40px;
  height: 40px;


  &:hover {
    opacity: 0.7; 
  }

  &::before {
    content: ''; 
    background-image: url('../ressources/img/svg/Trash.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto;
    
  }
}