@import '../abstracts/variables.scss';

/* === FOOTER ===*/

footer{

    a{
      font-family: $main-font;
      font-weight: 300;
      text-decoration: none;
      font-size: 14px;
      color: $main-white;
      transition: all 0.8s ease;
    }
    a:hover{
      color: $main-color;
    }
    h3{
      margin: auto;
    }
  }
  .footer-size{
    height: 550px;
  }

  .logo-size{
    width: 20%;
    min-width: 100px;

  }

  .margin-logo{
    margin-bottom: 15px;
  }
  
  .container-contact {
    display: flex;
  }
  
  .container-contact-icon {
    margin-left: 5px;
    margin-bottom: 5px;
    transform: translateZ(10);
    transition: transform .6s cubic-bezier(.165,.84,.44,1)
  }
  
  .container-contact:hover .container-contact-icon {
    transform: translateX(5px) translateZ(0)
  }
  
  .icons-footer{

      svg{
        fill: $main-white;
        transition: all 0.4s ease;
      }
  
      svg:hover{
        fill: $main-color;
      }
  }
  
  .text-height{
    margin-left: 5px;

    margin-top: 25px;
    height: 120px;
  }
  
  .bottom-footer{
    margin-top: 5px;
    margin-bottom: 10px;
    p{
      margin-top: auto;
      margin-bottom: auto;
    }
    a{
      margin-left: 5px;

    }
    a:hover{
      color: $main-white;
    }
  }


  @media (max-width: 860px) {
    .footer-size{
      height: 700px;
    }
  }
