@import '../abstracts/variables.scss';

/* === FORM ===*/

.input{
    border-radius: 8px;
    border: 1px solid $main-white;

    font-size: 14px;
    font-family: $title-font ;
    max-width: 681px;
}

.input-small{
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    
}


.input-large{

    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;

    min-height: 180px;
}

