@use '../abstracts'as *;

/* === HEADER ===*/

nav {
  align-items: center;

  ul {
    list-style: none;
  }

  a {
    color: $main-white;
    text-transform: uppercase;
    font-family: $main-font;
    font-weight: 600;
    font-size: 14px;
    text-decoration: unset;
  } 
}
nav div:nth-child(1) {
  max-width: 150px;
}

.spacing-nav {
  margin-top: 10px;
  width: 80%;
}

.spacing-icon-header{
  gap: 20px;
}

.spacing-components-header{
  gap: 60px;
}


.link-style-nav{
  position: relative;

  &::after{
    position: absolute;
    content: '';
    background-color: $main-white;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 2px;
    transition: 0.3s ease all;
  }
  &:hover::after{
      width: 100%;
  }
}

.header-content {
  position: fixed;
  z-index: 9;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0px 7px 60px 47px rgba(0, 0, 0, 0.15);
  padding: 20px;
}

// Burger menu 

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: $main-white;
}

@media (max-width:1000px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position: fixed;
    right: -200%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: $main-black;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    right: 0;
    justify-content: center;

    >ul{
        flex-direction: column;
        align-items: end;
        width: 73%;
      }
  }

  .spacing-components-header{
    gap:15px;
    margin-top: 20px;
  }

  .spacing-icon-header{
    gap: 0px;
  }
}

@media (max-width:768px){
  .header-content{
    padding: 20px 0px 20px 0px;
  }
}