@use '../abstracts'as *;

/* Error modal */
.error-modal {
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    padding: 20px;
    gap: 10px;  
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: $main-black;
    cursor: pointer;
}

