@use '../abstracts'as *;

/* Error modal */
.error-modal {
    display: none;
    position: fixed;
    z-index: 10;
    overflow: auto;
}

.modal-error-content {
    padding: 20px;
    gap: 10px;  
}

.close-error {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-error:hover,
.close-error:focus {
    color: $main-black;
    cursor: pointer;
}


/* Delete modal */ 

.overlay-delete {
    display: none;
}

// Styles for the modal container
.modal-delete-container {
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
}

.close-delete-account {
    cursor: pointer;
}