/* === FOOTER ===*/
footer a {
    margin-left: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    color: var(--main-white);
    transition: all 0.8s ease;
  }
  footer a:hover {
    color: var(--main-color);
  }
  footer h3 {
    margin: auto;
  }
  
  .footer-size {
    height: 45vh;
  }
  .footer-size > div {
    width: 33.33%;
    height: 50%;
  }
  
  .logo-size {
    width: 20%;
    min-width: 100px;
  }
  
  .container-contact {
    display: flex;
  }
  
  .container-contact-icon {
    margin-left: 5px;
    margin-bottom: 5px;
    transform: translateZ(10);
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .container-contact:hover .container-contact-icon {
    transform: translateX(5px) translateZ(0);
  }
  
  .icons-footer svg {
    fill: var(--main-white);
    transition: all 0.4s ease;
  }
  .icons-footer svg:hover {
    fill: var(--main-color);
  }
  
  .bottom-footer {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .bottom-footer p {
    margin-top: auto;
    margin-bottom: auto;
  }
  .bottom-footer a:hover {
    color: var(--main-white);
  }