@use '../abstracts'as *;

.size-icon{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.size-small-icon{
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.card-account{
    border: solid 1px #fff;
    border-radius: 15px;
}

.card-min-size{
    min-width: 1000px;
}

@media (max-width: 940px) {
    .card-min-size{
        min-width: auto;
    }