@use '../abstracts'as *;

/* === MAIN ===*/

.background-video-homepage {
    position: relative;
    width: 100%;
    height: 99.3vh;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    bottom: 0;
    z-index: -1;
}

.spacing-last-projects {
  gap: 2%;
  margin-top: 5%;
    span {
      h4{
        margin-top: 10px;
      }
  }
}

.image-project-container {
  display: inline-block;

  &:hover .overlay-project {
    opacity: 0.6;
  }
}

.overlay-project {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.7s ease;
  background-color: $main-black;

  p {
    color: $main-white;
    font-size: 1rem;
    font-weight: 200;
    top: 50%;
    left: 50%;
    text-decoration: underline;
    transform: translate(-50%, -50%);
  }
}

.wrap{
  border-right: 1ch solid $main-white;
  animation: blink 0.8s linear infinite;
}

@keyframes blink { 50% { border-color: $main-black; }  }




/* Responsive */ 

@media (max-width: 768px){
  .background-video-homepage {
    height: 60vh;
  }
}